<div class="add-word">
<h1 class="new-header">New Word</h1>
    <h2>Add a word to our dictionary</h2>

</div>

<form action="<%= "/words" %>" method="post">
    <input type="text" name="word">
<input class="edit-button" type="submit" value="submit" />
</form>