<h1><%= "#{@word.text}" %></h1>

<div id="arrows"><img src="/images/arrow.png"></div><br>

<p>
	<a href="/">Home</a><br />
    <a href="/words">Dictionary</a><br />
	<a href="/words/new">Add a New Word</a>
</p>