<div class="row">
  <h1 class="h1-show">Anagrams for the word</h1>
  <h2><%= "#{@word.upcase}" %></h2>
</div>
<div class="row">
  <img src="/images/arrow.png">
</div>
<div class="row">
  <ul class="ul-show-match">
    <% if !@anagrams.nil? %>
      <% @anagrams.each do |word| %>
        <li><%= word.text.upcase %></li>
      <% end %>
    <% end %>
  </ul>
</div>