<div class="show">
<h2>Anagrams for the Word</h2> 
<h1><%= "#{@word}" %></h1> 
    <div id="arrows"><img src="/images/arrow.png"></div>
<div class="anagram-list"><% @anagrams.each do |anagram| %>
<ul>
<%= "#{anagram}" %>
</ul>
<% end %>
</div>
</div>