<div class="show">
<h2>Anagrams for the Word</h2> 
    <h1><%= "#{@word.upcase}" %></h1> 
    <div id="arrows"><img src="/images/arrow.png"></div>
<ul class="anagram-list">
    <% if !@anagrams.nil? %>
    <% @anagrams.each do |anagram| %>
<li>
    <%= "#{anagram.text}" %>
</li>
  <% end %>
 <% end %>   
</ul>
</div>